<div class="container">

    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Delete operation:</strong> Book deleted succesfully!!!
        <a href="/">Go to Index</a>
    </div>

</div>